{% extends 'base.html' %} {% load static %} {% block content %}
<h1>Ideas</h1>
<p>Welcome {{first_name|lower|capfirst}} {{last_name|lower|capfirst}}!</p>
<a href="{% url 'index' %}">Home</a>

{% for idea in customer_ideas %}
{{idea.category}}
{{idea.name}}
{{idea.description}}
{{idea.date_added}}
<!--<a href="{% url 'update-entries' entries.journalID %}">Update Journal Entry</a>&emsp;-->

<a style="color: red;" href="{% url 'delete-idea' idea.idea_id %}">Delete Idea Entry</a>
{%endfor%}
{% endblock %}
